<h1>Listing benefits</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Begin date</th>
    <th>End date</th>
    <th>Business</th>
    <th>Benefit type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @benefits.each do |benefit| %>
  <tr>
    <td><%= benefit.name %></td>
    <td><%= benefit.description %></td>
    <td><%= benefit.begin_date %></td>
    <td><%= benefit.end_date %></td>
    <td><%= benefit.business_id %></td>
    <td><%= benefit.benefit_type_id %></td>
    <td><%= link_to 'Show', benefit %></td>
    <td><%= link_to 'Edit', edit_benefit_path(benefit) %></td>
    <td><%= link_to 'Destroy', benefit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Benefit', new_benefit_path %>
