<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @benefit.name %>
</p>

<p>
  <b>Descripción:</b>
  <%= @benefit.description %>
</p>

<p>
  <b>Fecha de inicio:</b>
  <%= @benefit.begin_date %>
</p>

<p>
  <b>Fecha de finalización:</b>
  <%= @benefit.end_date %>
</p>

<p>
  <b>Negocio:</b>
  <%= @benefit.business.name %>
</p>

<p>
  <b>Tipo de beneficio:</b>
  <%= @benefit.benefit_type.name %>
</p>


<%= link_to 'Editar', edit_benefit_path(@benefit) %> |
<%= link_to 'Volver', benefits_path %>
