<%= form_for @business, :url => businesses_path + (@business.nil? ? "": "/"+@business.id.to_s), :html => { :multipart => true } do |f| %>
  <% if @business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% @business.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nombre" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
  	<%= f.label :active, "Activo" %>
  	<%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :category_id, "Categoria" %><br />
    <%= f.collection_select(:category_id, Category.all, :id, :name, :include_blank => true) %>
  </div>
  <div class="field">
    <%= f.label :address, "Direccion" %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone, "Telefono" %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :description, "Descripcion" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :logo, "Logo" %><br />
    <%= f.file_field :logo %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
