<h1>Listado de Negocios</h1>

<% if @list_active then %>
	<%= link_to "Ver inactivos", :controller => "businesses", :action =>"inactive"  %>
<% else %>
	<%=link_to "Ver activos", businesses_path%>
<% end %>

<table class="table">
  <tr>
    <th>Nombre</th>
    <th>Categoría</th>
    <th>Dirección</th>
    <th>Teléfono</th>
    <th>Descripción</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @businesses.each do |business| %>
  <tr>
    <td><%= business.name %></td>
    <td><%= business.category_id %></td>
    <td><%= business.address %></td>
    <td><%= business.phone %></td>
    <td><%= business.description %></td>
    <td><%= link_to 'Mostrar', business %></td>
    <td><%= link_to 'Editar', edit_business_path(business) %></td>
    <td><%= link_to 'Destruir', business, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Negocio', new_business_path %>
