<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @business.name %>
</p>

<p>
  <b>Activo:</b>
  <%= @business.active ? "Sí" : "No" %>
</p>

<p>
  <b>Categoría:</b>
  <%= @business.category_id %>
</p>

<p>
  <b>Dirección:</b>
  <%= @business.address %>
</p>

<p>
  <b>Telefono:</b>
  <%= @business.phone %>
</p>

<p>
  <b>Descripción:</b>
  <%= @business.description %>
</p>
<p>
  <b>Logo:</b>
<%= image_tag @business.logo.url %>
</p>

<%= link_to 'Editar', edit_business_path(@business) %> |
<%= link_to 'Atras', businesses_path %>
